@mixin button($color: red) {
  background: $color;

  text-align: center;
  height: 50px;
  width: 350px;
  display: inline-block;
  padding: 16px 20px;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  transition: box-shadow 1s;

  &:hover {
    box-shadow: 10px 5px 5px #eee;    
  }
}

@mixin counter-btn {
  background-color: inherit;
  border: none;
  width: 30px;
  text-align: center;
}
